 .two{background-color: black;
width: 50%;
margin-left: 25%;
height: 300px;
width: 300px;}
.lokesh{background-color:black;
color:white;
font-family: 'Caveat', cursive;
text-align: center;}
.sai{background-color:black;
border: 5px solid white;
margin-top: 100px;
width:100%}
html{background-color:black}
.one{
  color:azure;
  text-align: center;
}